
@{
    ViewBag.Title = "Contact Us";
}

<h3>@ViewBag.Message</h3>

<img src="~/content/images/gthilogo.jpg" height="150" width="175" />
<br />
<br />

<div class="row">

    <div class="col-sm-3">
        <address>
            One Whiskers Way<br />
            Minneapolis, MN 55311-6399<br />
            <abbr title="Phone">Tel:</abbr>
            888-654-7813
            <br />
            <br />

            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@meow.com</a>
            <br /><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@meow.com</a>
        </address>


        @*Name:   @Html.Editor("Name: ")
            <br />
            Email:      @Html.Editor("Email: ")
            <br />
            Telephone:  @Html.Editor("Telephone: ")
            <br />
            Comments:   @Html.Editor("Comments:")*@

    </div>

    <div class="col-sm-6">
        <center> <img src="~/content/images/contactmap.jpg" height="350" width="350" /></center>
    </div>

    <div class="col-sm-3">

        FullName:   @Html.Editor("Full Name: ")
        <br />
        Email:      @Html.Editor("Email: ")
        <br />
        Telephone:  @Html.Editor("Telephone: ")
        <br />
        Comments:   @Html.Editor("Comments:")

        <br /><br />

        <input type="submit" value="Submit" class="btn btn-default" />
    </div>

</div>



